.SectionDigitalArt {
    text-align: center;

    p {
        font-weight: 700;
    }

    .pictures {
        margin-top: 80px;

        img {
            margin: 15px 0;
        }
    }

    @media (max-width: 992px) {
        .pictures {
            margin-top: 50px;
        }
    }

    @media (max-width: 767px) {
        .pictures {
            margin-top: 20px;

            >div[class^="col"] {
                padding: 0 10px;
            }

            img {
                margin: 10px 0;
            }
        }
    }
}